<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Words!  Words!  Words!</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Welcome to Word Definitions!</h1>
    <h3>You can input any number of words and their definitions here, and check them at any time!</h3>
    <%= yield %>
  </body>
</html>
