<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Words!  Words!  Words!</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
