<p>Here are the words you've added so far.  Click on any word to go to its definitions page.</p>

<ul>
  <% @words.each do |word| %>
  <% if word.word == "rickroll" %>
  <li><a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'><%= word.word %></a></li>
  <% else %>
  <li><a href='/word/<%= word.id %>'><%= word.word %></a></li>
  <% end %>
  <% end %>
</ul>

<form action="/submit" method="post">
  <label for="word-field">Input a word here:</label>
  <input type="text" name="word-field">
  <button type="submit" name="button">Submit!</button>
</form>
