<h4>Your Definitions for <%= @word.word %>:</h4>

<ol>
  <% @word.definitions.each do |definition| %>
  <li><%= definition %></li>
  <% end %>
</ol>

<form action="/word/<%= @word.id %>" method="post">
  <label>Think you know the definition? Input it below!</label><br>
  <input type="text" name="definition">
  <button type="submit" name="button">Submit!</button>
</form>

<form action="/" method="get">
  <button type="submit" name="button">Back</button>
</form>
